.awards-block {
    position: relative;
    text-align: center;
    padding:0;
    @include respond(tab-port) {
        padding: 0 30px;
    }
    @include respond(phone) {
        margin: 30px 0;
    }
    .columns {
        justify-content: center;
        #awards {            
            padding: 40px;
            margin: 0;
            border-radius: 20px;
            z-index: 0;
            display:grid;
            width: 100%;
            @include respond(phone) {
                padding: 0;
            }
            .slick-slide {
                padding: 0 30px !important;
                margin: 0 30px !important;
            }
        }
    }
}