.body-container {
    
    .pre-headline {
        margin-bottom: 5px;
        letter-spacing: 3px;
    }
    
    .btn {
        background-color: $blue;
        color:$white !important;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        text-transform: uppercase;
        font-family: $serif;
        font-size: 1.6rem;
        position: relative;
        overflow: hidden;
        &>span {
            position: relative;
            z-index: 2;
            font-family: $serif;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -120%;
            height: 100%;
            width: 120%;
            background: $hoverblue;
            -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
            transition: $trans;
            z-index: 1;
            pointer-events: none;
        }
        &:hover {
            &:after {
                left: 0;
            }
        }
    }

    // style blocks like postali

    .wp-block-group {
        .entry-content {
            .wp-block-group {
                padding: 80px 0;
                @include respond(tab-port) {
                    padding: 40px 0;
                }
                .wp-block-group__inner-container {
                    max-width: 1400px;
                    padding: 0 60px;
                    z-index: 1;
                    position: relative;
                    margin: 0 auto;
                    @include respond(tab-port) {
                        padding: 0 30px;
                    }
                    .wp-block-embed__wrapper {
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        padding-top: 56.25%;
                
                        iframe  {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}