.practice-areas-section {
    margin-bottom: 120px;;
    @include respond(phone) {
        margin-bottom: 80px;
    }
    &.white-card-block-wrapper {
        margin: 100px 0 60px 0;
    }
    h2 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: $normal;
        text-transform: uppercase;
        margin-bottom: 55px !important;
        letter-spacing: 2.4px;
        font-family: $sans !important;
        &.align-left {
            text-align: left;
        }
    }
    .practice-areas-block { // Default full image background display
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 60px;
        @include respond(tab-port) {
            padding: 0 30px;
        }
        .practice-area:not(.white-card) {
            width: calc(33.333% - 60px);
            height: 200px;
            min-width: 350px;
            position: relative;
            @include respond(tab-port) {
                min-width: 100%;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                &:hover {
                    .pa-title {
                        &:before {
                            left: 0;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
            .pa-title {
                position: absolute;
                bottom: -1px;
                right: -1px;
                margin-bottom: 0;
                background: $blue;
                font-size: 1.8rem;
                text-transform: uppercase;
                padding: 10px 50px;
                -webkit-clip-path: polygon(10% 0, 100% 1%, 100% 100%, 0 100%);
                        clip-path: polygon(10% 0, 100% 1%, 100% 100%, 0 100%);
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                @include respond(phone) {
                    font-size: 1.5rem;
                }
                span {
                    color: $white;
                    font-family: $serif;
                    font-weight: $normal;
                    position: relative;
                    z-index: 2;
                }
                &:after {
                    content: "\e908";
                    font-family: $icomoon;
                    width: 16px;
                    height: 16px;
                    font-size: 1.6rem;
                    color: $white;
                    position: absolute;
                    z-index: 2;
                    right: 15px;
                    display: flex;
                    justify-self: center;
                    align-items: center;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -120%;
                    height: 100%;
                    width: 120%;
                    background: $hoverblue;
                    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
                            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
                    transition: $trans;
                    z-index: 1;
                    pointer-events: none;
                }
            }
        }
        &.white-card-block { // Alternate no bg image display
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            align-items: stretch;
            padding: 0 !important;
            @include respond(tab-land) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include respond(tab-port) {
                grid-template-columns: 1fr;
                padding: 0 !important;
            }
            .practice-area.white-card {
                background: $white;
                height: auto;
                border:2px solid transparent;
                transition:$trans;

                &:hover {
                    border:2px solid $dkblue;

                    .pa-title {
                        text-decoration: underline;
                    }
                }

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    padding: 30px;
                    &:hover {
                        .fake-btn {
                            &:after {
                                left: 0;
                            }
                        }
                    }
                    .practice-area-icon {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 30px;
                    }
                    .copy-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        height: 100%;
                        position: relative;
                        padding-bottom: 100px;
                        .case-icon {
                            width: 49px;
                            height: 21px;
                            margin-bottom: 20px;
                        }
                        p {
                            color: $blk;
                            &.pa-title {
                                font-family: $serif;
                                font-size: 3rem;
                                font-weight: $normal;
                            }
                        }
                        .btn {
                            margin: 0;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}