    .result {
        width: 100%;
        max-width: 700px;
        padding: 30px;
        margin: 0;
        text-align: left;
        background: $white;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
        box-sizing: border-box;
        @include respond(tab-land) {
            min-width: auto;
            width: auto;
            max-width: 100%;
            height: auto;
        }
        @include respond(tab-port) {
            margin-top: 30px;
        }
        @include respond(phone) {
            margin-top: 0;
            margin-bottom: 50px;
        }

        a {
            text-decoration: none;

            &:hover {
                .fake-btn {
                    &:after {
                        left: 0%;
                    }
                }
            }
        }

        .columns {
            gap: 30px;
            flex-wrap: nowrap;
            height: 100%;
            align-items: stretch !important;
            @include respond(phone) {
                flex-direction: column;
            }

            .column-50 {
                width: 50%;
                @include respond(phone) {
                    width: 100%;
                }

                &:first-of-type {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        @include respond(phone) {
                            max-height: 244px;
                        }
                    }
                }

                &:last-of-type {
                    flex-direction: column;
                    justify-content: space-between;
                    height: -webkit-fill-available;
                    height: -moz-fill-available;
                    height: fill-available;

                    .img-wrapper {
                        display: flex;
                        gap: 15px;

                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                        }
                    }

                    .row-1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;    
                        margin-bottom: 20px;
                        @include respond(phone) {
                            margin-bottom: 30px;
                        }

                        .case-category {
                            font-size: 1.5rem;
                            font-family: $serif;
                            text-transform: uppercase;
                            letter-spacing: 2.4px;
                            color: $dkblue;
                            background: $ltgrey;
                            padding: 6px 12px;
                            border-radius: 30px;
                        }
                    }

                    .row-2 {
                        p {
                            margin-bottom: 15px;
                            &.paragraph-subtitle {
                                font-size: 1.5rem;
                            }
                        }
                        h3 {
                            color: $blk;
                            font-size: 2.6rem;
                        }
                        .img-wrapper {
                            @include respond(phone) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }

        @include respond(phone) {
            padding: 20px;
        }

        p {
            line-height: 150%;
            margin-bottom: 0;
            color: $blk;
            margin-top: 15px;
        }
    }