//WP Block Group Extended Styles

.wp-block-group {
    background-color: $white;
    .entry-content {
        & > .wp-block-group {
            &:last-of-type {
                padding-bottom: 200px !important;
                @include respond(phone) {
                    padding-bottom: 100px !important;
                }
                &.remove-padding {
                    padding-bottom: 200px !important;
                    @include respond(phone) {
                        padding-bottom: 100px !important;
                    }
                }
            }
            & > .wp-block-group__inner-container {
                & .wp-block-group {
                    background-color: inherit;
                    padding: 0 !important;
                }
        
                .wp-block-group {
                    padding: 0 !important;
                }
            }
        }
    }
    &.full-width {
        & > .wp-block-group__inner-container {
            max-width: 100% !important;
            padding: 0 !important;
            .wp-block-image {
                @include respond(tab-port) {
                    padding: 0 30px;
                }
            }
        }
    }
    &.content-wrapper {
        .wp-block-group__inner-container {
            width: 65% !important;
            margin: 0 auto !important;
            @include respond(tab-port) {
                width: 100% !important;
            }
        }
    }
    &.remove-padding {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    &.dark-blue-bg {
        background-color: $dkblue;
        color: $white;

        .wp-block-group__inner-container {
            color: $white;
        }
        h2, h3, h4, h5, p, li, a {
            color: $white;
        }
        a {
            &:hover {
                color: $white !important;
            }
        }
    }
    &.light-grey-bg {
        background-color: $ltgrey;
        color: $blk;
        .wp-block-group__inner-container {
            color: $blk;
        }
    }
    &.clip-bottom-triangle {
        position: relative;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        .wp-block-group__inner-container {
            padding-bottom: 30px !important;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            -webkit-clip-path: polygon(50% 90px, 0 -1%, 100% -1%);
                    clip-path: polygon(50% 90px, 0 -1%, 100% -1%);
            background: inherit;
            display: block;
            top: 100%;
        }
        & + .wp-block-group {
            padding: 180px 0 80px 0 !important;
            @include respond(phone) {
                padding: 140px 0 80px 0 !important;
            }
        }
    }
    &.clip-top-triangle {
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 0;
            -webkit-clip-path: polygon(50% 0px, 0 100%, 100% 100%);
                    clip-path: polygon(50% 0px, 0 100%, 100% 100%);
            background: inherit;
            display: block;
            
        }
    }
    &.clip-slant-hl {
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 2;
            top: 99%;
            left: 0;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 35%);
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 35%);
            background: inherit;
            display: block;
            @include respond(phone) {
                -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 65%);
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 65%);
            }
        }
    
        &+.wp-block-group {
            padding: 180px 0 80px 0 !important;
            @include respond(phone) {
                padding: 140px 0 80px 0 !important;
            }
        }
        &+.wp-block-group.remove-padding {
            padding: 0 !important;
        }
    }
    &.clip-slant-lh {
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 2;
            top: 99%;
            left: 0;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 100%);
                    clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 100%);
            background: inherit;
            display: block;
            @include respond(phone) {
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
                        clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
            }
        }
        &+.wp-block-group {
            padding: 180px 0 80px 0 !important;
            @include respond(phone) {
                padding: 140px 0 80px 0 !important;
            }
        }
        &+.wp-block-group.remove-padding {
            padding: 0 !important;
        }
    }

    &.clip-top-slant-hl {
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 2;
            bottom: 99%;
            left: 0;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 35%);
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 35%);
            background: inherit;
            display: block;
            transform: rotate(180deg);
            @include respond(phone) {
                -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 65%);
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 65%);
            }
        }

        &+.wp-block-group.remove-padding {
            padding: 0 !important;
        }
    }

    &.clip-top-slant-lh {
        position: relative;
        padding: 120px 0 80px 0 !important;
        @include respond(tab-land) {
            padding: 80px 0 80px 0 !important;
        }
        @include respond(phone) {
            padding: 40px 0 80px 0 !important;
        }
        &:before {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            z-index: 2;
            bottom: 99.5%;
            left: 0;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 100%);
                    clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 100%);
            background: inherit;
            display: block;
            transform: rotate(180deg);
            @include respond(phone) {
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
                        clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
            }
        }
        &+.wp-block-group.remove-padding {
            padding: 0 !important;
        }
    }

    &.enable-accordion {
        .accordion-body {
            display: none;
        }
        .accordion-toggle {
            position: relative;
            padding-right: 45px;
            margin-top: 30px;
            border: 0 !important;
            &:before {
                content: "+";
                position: absolute;
                top: 6px;
                right: 14px;
                font-size: 30px;
                z-index: 2;
            }
            &.active {
                &:before {
                    content: "-";
                    top: 4px;
                }
            }
        }
    }

    .wp-block-group__inner-container {
        box-sizing: border-box;
    }
}

.wp-block-columns {
    &.justify-space-between {
        justify-content: space-between;
    }
    
    &.justify-center {
        justify-content: center;
    }
    
    &.justify-space-around {
        justify-content: space-around;
    }
    
    &.justify-space-evenly {
        justify-content: space-evenly;
    }
    
    &.justify-flex-start {
        justify-content: flex-start;
    }
    
    &.justify-flex-end {
        justify-content: flex-end;
    }
    .wp-block-column {
        .wp-block-group {
            background-color: inherit;
        }
        &.column-right-padding {
            padding-right: 100px;
            @include respond(desktop-lg) {
                padding-right: 60px;
            }
            @include respond(desktop) {
                padding-right: 0px;
            }
        }
        &.column-left-padding {
            padding-left: 100px;

            @include respond(desktop-lg) {
                padding-left: 60px;
            }

            @include respond(desktop) {
                padding-left: 0px;
            }
        }
    }
}

.wp-block-heading {
    &.heading-with-icon {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        @include respond(phone) {
            flex-direction: column;
        }
        &:after {
            content: "";
            width: 51px;
            min-width: 51px;
            height: 22px;
            background: url('/wp-content/uploads/2025/07/separators.svg') no-repeat;
            background-size: contain;
            position: relative;
            top: 5px;
            margin-left: 30px;
            @include respond(phone) {
                margin-left: 0;
                top: 0;
                margin-top: 15px;

            }
        }
    }
    &.heading-left-offset {
        margin-left: 120px;
        @include respond(desktop) {
            margin-left: 60px;
        }
        @include respond(tab-land) {
            margin-left: 30px;
        }
    }
}

.wp-block-list {
    &.list-anchor-links {
        li, li a {
            text-transform: uppercase;
            letter-spacing: 2.4px;
            font-weight: $normal;
        }
        li a {
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}