header {
    position: fixed;
    top:70px;
    width: 100%;
    z-index: 50;
    display:flex;
    height:90px;
    transition: $trans;
    &.secondary-banner-adjustment {
        top: 120px;
    }
    &.scrolled {
        top: 20px;
    }
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        
        &_left {
            display: flex;
            width: 26%;
            justify-content: flex-start;

            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                img.custom-logo {
                    max-height: 30px;
                    max-width: 340px;
                    width: 100%;
                    object-fit: contain;
                    @include respond(desktop-lg) {
                        max-height: 25px;
                    }
                    @include respond(desktop) {
                        margin-left: 20px;
                    }
                    @include respond(tab-land) {
                        margin-left: 0;
                    }
                    @include respond(phone) {
                        max-width: 200px;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
        &_right {
            &_menu {
                .menu {
                    li {
                        a {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }
}